<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADMIN__css/font.css">
    <link rel="stylesheet" href="__ADMIN__css/xadmin.css">
    <script type="text/javascript" src="__ADMIN__js/jq.js"></script>
    <script type="text/javascript" src="__ADMIN__lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADMIN__js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">插件管理</a>
        <a>
          <cite>百度PC排名</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <fieldset class="layui-elem-field">
        <legend>百度PC排名 </legend>
        <div class="layui-field-box">
            本功能基于站长工具接口开发，排名可能与实际不符，最终结果以实际为主
        </div>
    </fieldset>
<div style="width: 100%;height: 100px;margin-top: 50px;display: flex;flex-direction: column">
    <div style="width: 680px;margin: auto">
        <p style="color: red">注：多个关键词用“|”隔开,例如：网站推广|网站营销|网站建设</p>
    </div>
    <form class="layui-form" action="{:url('admin/rank/makeTask')}" style="width: 800px;height: 50px;margin: auto;display: flex;justify-content: center;align-items: center">
        <input type="hidden" name="web" id="web" value="<?php echo $_SERVER['SERVER_NAME']; ?>">
        <input style="width: 600px;height:38px;font-size: 18px;padding: 3px 8px;background-color: #ccc;color: #2d2d2d"  type="text"  name="words" id="words">
        <button id="search" type="submit"  style="height: 40px;width: 100px" class="layui-btn">创建任务</button>
    </form>

</div>

</div>

</body>

</html>