<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>网站后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADMIN__css/font.css">
    <link rel="stylesheet" href="__ADMIN__css/xadmin.css">
    <script type="text/javascript" src="__ADMIN__js/jq.js"></script>
    <script type="text/javascript" src="__ADMIN__lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADMIN__js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="__ADMIN__html5.min.js"></script>
    <script src="__ADMIN__respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">模型管理</a>
        <a>
          <cite>字段列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加字段','{:url("admin/pattern/addField",["table"=>$table])}',1000,700)"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-primary" onclick="javascript:history.go(-1)">返回</button>
    </xblock>
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>字段中文</th>
            <th>字段名</th>
            <th>初始值</th>
            <th>多选值</th>
            <th>字段长度</th>
            <th>排序</th>
            <th>字段类型</th>
            <th>添加时间</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
        {volist name='field' id='list'}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$list.id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$list.id}</td>
            <td>{$list.cn_name}</td>
            <td>{$list.en_name}</td>
            <td>{$list.value}</td>
            <td>{$list.values}</td>
            <td>{$list.length}</td>
            <td>{$list.sort}</td>
            <td>{if $list.field_type == 1} 输入框
                {elseif  $list.field_type == 2 }单选按钮
                {elseif  $list.field_type == 3 }复选框
                {elseif  $list.field_type == 4 }下拉菜单
                {elseif  $list.field_type == 5 }文本域
                {elseif  $list.field_type == 6 }图片上传
                {elseif  $list.field_type == 7 }文件上传
                {/if}</td>
            <td>{$list.create_time|date='Y-m-d H:i:s'}</td>
            <td class="td-manage">
                <a title="编辑"  onclick="x_admin_show('编辑','{:url("admin/pattern/editField",["id"=>$list.id,"table"=>$table])}',1000,700)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,'{$list.id}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
    {/volist}
        </tbody>
    </table>
    <div class="page">
        <div>

        </div>
    </div>

</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });



    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            var table = "{$table}";
            $.ajax({
                type:'post',
                data:{id:id,table:table},
                dataType:'json',
                url:"{:url('admin/pattern/delField')}",
                success:function (data) {
                    if (data.code == 0){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }else{
                        layer.alert(data.message, {icon: 5});
                        return false;
                    }
                }
            })
        });
    }
    function delAll (argument) {
        var data = tableCheck.getData();
        //console.log(data);
        layer.confirm('确认要删除吗？'+data,function(index){
            var table = "{$table}";
            $.ajax({
                type:'post',
                data:{id:data,table:table},
                dataType:'json',
                url:"{:url('admin/pattern/delField')}",
                success:function (data) {
                    if (data.code == 0) {
                        layer.msg('删除成功', {icon: 1});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    }
                }
            });
        });
    }

</script>

</body>

</html>