<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADMIN__css/font.css">
    <link rel="stylesheet" href="__ADMIN__css/xadmin.css">
    <script type="text/javascript" src="__ADMIN__js/jq.js"></script>
    <script type="text/javascript" src="__ADMIN__lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADMIN__js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="__ADMIN__html5.min.js"></script>
    <script src="__ADMIN__respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">友情链接</a>
        <a>
          <cite>列表页面</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加友链','{:url("admin/link/add")}')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：0 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>友链名称</th>
            <th>友链链接</th>
            <th>nofllow</th>
            <th>打开方式</th>
            <th>操作</th>
        </thead>
        <tbody>
        {volist name='linkList' id='list'}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$list.id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$list.id}</td>
            <td>{$list.link_name}</td>
            <td><a target="_blank"  href="{$list.link_href}">{$list.link_href}</a></td>
            <td>
                {if $list.no_follow == 1 }
                <span style="color: #fff;background-color: #009688;padding: 3px 4px">是</span>
                {else}
                <span style="color: #fff;background-color: #393D49;padding: 3px 4px">否</span>
                {/if}
            </td>
            <td>
                {if $list.open_type == 1 }
                <span style="color: #fff;background-color: #009688;padding: 3px 4px">新页面</span>
                {else}
                <span style="color: #fff;background-color: #393D49;padding: 3px 4px">本页面</span>
                {/if}
            </td>
            <td class="td-manage">
                <a title="编辑"  onclick="x_admin_show('编辑','{:url("admin/link/edit",["id"=>$list.id])}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,'{$list.id}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });
    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
                type:'post',
                data:{id:id},
                dataType:'json',
                url:"{:url('admin/link/delAll')}",
                success:function (data) {
                    if (data.code == 200) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:1000});
                    }
                }
            });
        });
    }

    function delAll (argument) {
        var data = tableCheck.getData();
        //console.log(data);
        layer.confirm('确认要删除吗？'+data,function(index){
            $.ajax({
                type:'post',
                data:{id:data},
                dataType:'json',
                url:"{:url('admin/link/delAll')}",
                success:function (data) {
                    if (data.code == 200) {
                        layer.msg('删除成功', {icon: 1});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    }
                }
            });
        });
    }
</script>
</body>

</html>