<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADMIN__css/font.css">
    <link rel="stylesheet" href="__ADMIN__css/xadmin.css">
    <script type="text/javascript" src="__ADMIN__js/jq.js"></script>
    <script type="text/javascript" src="__ADMIN__lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADMIN__js/xadmin.js"></script>
    {include file='public/ueditor'}
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="__ADMIN__html5.min.js"></script>
    <script src="__ADMIN__respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="title" class="layui-form-label">
                <span class="x-red">*</span>标题
            </label>
            <div class="layui-input-inline">
                <input style="width: 500px" type="text" id="title" name="title" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="title" class="layui-form-label">
                <span class="x-red">*</span>属性
            </label>
            <div style="width: 510px" class="layui-input-inline">
                {volist name='attrList' id='list'}
                    <input type="checkbox" name="attr[]"  value="{$list.attr_value}" title="{$list.attr_name}【{$list.attr_value}】">
                {/volist}
            </div>
        </div>
        <div class="layui-form-item">
            <label for="keywords" class="layui-form-label">
                <span class="x-red"></span>关键字
            </label>
            <div class="layui-input-inline">
                <input style="width: 500px"  type="text" id="keywords" name="keywords"   autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="desc" class="layui-form-label">
                <span class="x-red"></span>描述
            </label>
            <div class="layui-input-inline">
                    <textarea style="width: 500px" id="desc" name="desc" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="desc" class="layui-form-label">
                <span class="x-red"></span>排序
            </label>
            <div class="layui-input-inline">
                <input  type="text" id="sort" name="sort"  value="50"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red"></span>封面图
            </label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <div class="layui-upload-list layui-input-inline ">
                    <img style="height: 80px" class="layui-upload-img" src="/public/static/admin/images/pic.png"  id="demo1">
                </div>
                <input type="hidden" name="picture"  value="" id="up">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="x-red"></span>审核
            </label>
            <div class="layui-input-inline">
                <input type="radio" name="reviewed" value="1" title="已审核" checked=""><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><div>已审核</div></div>
                <input type="radio" name="reviewed" value="0" title="未审核"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>未审核</div></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="click" class="layui-form-label">
                <span class="x-red"></span>点击量
            </label>
            <div class="layui-input-inline">
                <input  type="text" id="click" name="click" value="<?php echo mt_rand(50,200); ?>"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="author" class="layui-form-label">
                <span class="x-red"></span>作者
            </label>
            <div class="layui-input-inline">
                <input type="text" id="author" name="author" value="admin"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="editor" class="layui-form-label">
                <span class="x-red"></span>正文
            </label>
            <div class="layui-input-inline">
                <div class="layui-input-inline">
                    <textarea   id="editor" style="height: 400px;width: 1000px"  name="content"> </textarea>
                    <script type="text/javascript">
                        //实例化编辑器
                        var ue = UE.getEditor('editor');
                    </script>
                </div>
            </div>
        </div>
        <input type="hidden" name="cate_id" value="{$cateId}">
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button type="button"  class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;
        //监听提交
        form.on('submit(add)', function(data){
            $.ajax({
                type:'post',
                data:data.field,
                dataType:'json',
                url:"{:url('admin/article/addArticle')}",
                success:function (data) {
                    if (data.code == 200){
                        layer.alert(data.message, {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            return false;
                        });
                    }else{
                        layer.alert(data.message, {icon: 5});
                        return false;
                    }
                }
            })
        });
    });

    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: "{:url('admin/article/upload')}" //上传接口
            ,accept: 'images' //允许上传的文件类型
            ,size: 800//最大允许上传的文件大小
            ,done: function(res){
                //上传完毕回调
                if (res.code == 200){
                    layer.msg('上传成功！',{icon: 6,time:1000});
                    $('#demo1').attr('src', '/'+res.img);
                    $('#up').val(res.img);
                }else{
                    layer.msg(res.message,{icon: 5,time:1000});
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
</body>

</html>